.App { background-color:#d09683;
  
}
.header{
 background-color: #363237;
 
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  
}
.logo{
  text-decoration: none; 
  color: aliceblue;
  margin-left: 5%;
}